.body {
  font-family: helvetica;
  font-weight: 400;
  margin: 0;
  color: #273444;
}

.sidenav {
  background: #1f2d3d;
  bottom: 0;
  padding: 16px;
  position: absolute;
  top: 0;
  width: 160px;
}

.sidenav-brand {
  color: #f9fafc;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  text-transform: capitalize;
}

.sidenav-list {
  list-style: none;
  padding: 8px 0;
  margin: 0;
}

.sidenav-list__header {
  color: #f9fafc;
  font-weight: 800;
  padding: 8px 0;
  text-transform: capitalize;
}

.sidenav-list__item {
  color: #009eeb;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  text-transform: capitalize;
  &:hover {
    color: #1fb6ff;
    text-decoration: underline;
  }
}

.sidenav-list__sub-item {
  color: #009eeb;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
  text-decoration: none;
  text-transform: capitalize;
  &:hover {
    color: #1fb6ff;
    text-decoration: underline;
  }
}

.content {
  margin-left: 192px;
  padding: 16px;
}

h1 {
  margin: 0;
}

.introduction_title {
  color: #00963a;
  font-size: 48 px;
  margin-bottom: 20px;
}

.colored_background {
  display: flex;
  justify-content: center;

  // background-color: #00963a;
  width: auto; //  widthview
  height: 100vh; // view height
}

.qrcode_img {
  width: 300px;
  height: 200px;
  margin-top: 100px;
}

.context {
  margin-left: 20%;
  padding-top: 100px;
}
.App-table{
  text-align: left;
  color:black;
  font-size: large;

}
.App-th{
  text-align:center;
   color:green;
   font-size:large; 
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-title{
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 宋体;
}
.App-points{
  align-items: center;
  justify-content: left;
  color: white;
  font-family: 宋体;
}
.App {
  text-align: center;
}
